:root {
    --colorTextos: #23622c;

}
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background: url(/Imagenes/camino.gif);
    background-size: 100%;
    max-width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  
}
form{

    /* height: 5px;   */
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #fff;
    /* padding: 5px 0; */
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
    border-radius: 10px; 
    margin: auto;
}
form .grupo{
    position: relative;
    margin: 45px;
}
h1{
    text-align: center;
    font-weight: 700;
    color: #1d3b22;
}
input{
    background: none;
    color: #1d3b22;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #6c726d;
}
input:focus{
    outline: none;
    color: #1d3b22;
}
label{
    color: #1d3b22;
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}
input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 12px;
    color: #3ca14b;
}
.barra{
    position: relative;
    display: block;
    width: 100%;
}
.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: #23622c;
    transition: 0.3s ease with;
    left: 0;
}
input:focus~.barra::before{
    width: 100%;
}
button{
    background: #23622c;
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    
}

@media screen and (max-width:500px){
    .form{
        width: 80%;
    }
}
.centrodiv{
  /*  align: center;
    
    justify-content: center;
    width: 60%;
    */
    height: 650;  
    display: flex;
    justify-content: center;
    align-items: center; 
}